[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
jinja2 = "*"
exrex = "*"
ssdeep = "*"
pytest = "*"

[dev-packages]
blue = "*"
isort = "*"
pyright = "*"
invoke = "*"
coverage = "*"
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.9"

[scripts]
lint = "invoke lint"
format = "invoke format"
tests = "invoke tests"
ci = "invoke ci"
"unit-tests" = "invoke unit-tests"
"integration-tests" = "invoke integration-tests"
"build-docs" = "invoke build-docs"
"spell-check" = "invoke spell-check"
build = "invoke build"
